.watch-page .card:hover {
    /* جعل البطاقه عنند التأشير عليها بزر الفأرة تتحرك للاعلى */
    transform: translateY(0%) !important;
}

.watch-page .watch-icons {
position: absolute;
right: 20px;
bottom: 5px;
}

.watch-page .watch-icons .card-text {
    font-size: 22px;
}

.watch-page .watch-icons:hover {
cursor: pointer;
}

.watch-page #more{
    display: none;
}

.form-control:focus {
    box-shadow: none;
}

.card-inner {
    display: none;
}

.card .card-body .btn {
    background-color: blueviolet;
    border-color: blueviolet;
    color: #fff;
}

.card .card-body .btn:hover {
    background-color: rgb(156, 75, 231);
}

   
time{
    bottom: 10px !important;
    font-size: 13px;
    left: 23px;
   
}

@media (max-width:1062px){
    #myBtn {
        margin-bottom: 60px !important;
    }
}

@media (max-width:570px) {
    .reply-time {
        font-size: 12px;
    }
}


@media (max-width:570px) {
    .card-inner .reply-time {
        font-size: 8px;
    }
}
